
#b{
    font-size: 4rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.enabled{
    background-color:blue;
    color: white;
}
.hover{
    box-shadow: 0 0 20px grey;
    font-weight: bold;
    color: rgb(247, 249, 249);
    background-color: aqua;
    font-size: 20px;
    max-width: 350px;
    height: 65px;
}
.disabled{
    background-color: red;
    color: white;
}

div{
    background-color: gray;
    display: grid;
    max-width: 500px;
}
.btn{
    max-width: 300px;
    height: 60px;
}