body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calcul{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    height: 700px;
    overflow: hidden;
}
#text{
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    color: white;
    background-color: hsl(0, 0%, 20%)
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
#Mjbtn{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
#plus,#moin,#multi,#div,#bc{
    background-color: orange;
}
.egale{
    background-color: aqua;
}
.egale:active{
    background-color: rgb(187, 229, 237);
    box-shadow: 10px rgb(168, 211, 215);
}